{% extends "base.html"%}
{% block content %}
    <form class="form-horizontal" method="POST" action="/set">
  <div class="form-group">
    <label class="col-sm-2 control-label">URL：</label>
    <div class="col-sm-9">
      <input type="url" class="form-control" name="url" placeholder="URL" required="required">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Data：</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="data" placeholder="Data" required="required">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Cookies：</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="cookies" placeholder="Cookies" required="required">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="radio">
        <label>
          <input type="radio" name="method" value="GET"> GET
        </label>
        <label>
          <input type="radio" name="method" value="POST" checked> POST
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">提交</button>
    </div>
  </div>
</form>

<hr>
<h2 align="center" id="loading">正在签到中。。。</h2>
<div id="signin_list">

</div>
<script type="text/javascript">
$(document).ready(function(){
  $.get('/get',function(data){
    $('#signin_list').append(data);
    $('#loading').hide();
  })
})
</script>
{% endblock %}